@import "tailwindcss";

@theme {
    --color-cinza-escuro: #222225;
    --color-cinza: #D9D9D9;
    --color-azul-botao: #57B1FA;
    --color-vermelho-botao: #FF6767;
    --color-verde-botao: #74E05E;
    --color-azul-stockit: #2F3D61;
}